.faq {
	@extend %grid;
	padding: clamp(4.25rem, 3.3684rem + 4.4079vw, 8.4375rem) clamp(1.25rem, 0.9868rem + 1.3158vw, 2.5rem) clamp(3.125rem, 2.4671rem + 3.2895vw, 6.25rem);

	&__body {
		grid-column: 2/3;
	}

	&__title {
		font-size: clamp(1.5rem, 0.6974rem + 4.0132vw, 5.3125rem);
		margin-bottom: clamp(1.875rem, 1.2171rem + 3.2895vw, 5rem);
	}

	&__cards {}

	&__card {}
}

.card-faq {
	padding: clamp(0.9375rem, 0.6086rem + 1.6447vw, 2.5rem);
	box-shadow: 15px 15px 70px 0px #0066B31A, -15px -15px 70px 0px #0066B31A;
	border-radius: 20px;

	&__title {
		font-weight: 400;
		font-size: clamp(1.25rem, 1.0395rem + 1.0526vw, 2.25rem);

		margin: 0;
		margin-bottom: clamp(1.875rem, 1.6118rem + 1.3158vw, 3.125rem);
	}

	&__text {
		@extend %text;

		a {
			color: #ff8000;
		}
	}
}

.card-faq+.card-faq {
	margin-top: clamp(1.875rem, 1.6118rem + 1.3158vw, 3.125rem);
}