.bim {
	// .bim__body
	@extend %grid;
	box-sizing: border-box;
	@extend %paddingSection;
	margin-top: clamp(3.125rem, 2.4671rem + 3.2895vw, 6.25rem);

	&__body {
		grid-column: 2/3;
	}

	// .bim__left

	&__left {}

	// .bim__right


}

.left-bim {
	// .left-bim__texts
	display: grid;
	grid-template: auto / minmax(auto, 860px) 1fr;

	@media (max-width: 1024px) {
		grid-template: auto / 1fr;
	}

	h2 {
		grid-column: 1/2;
		grid-row: 1/2;

	}

	&__texts {
		grid-column: 1/2;
		grid-row: 2/3;

		@extend %text;
	}

	// .left-bim__text
	&__text {}

	&__text+&__text {
		margin-top: clamp(1.25rem, 0.9868rem + 1.3158vw, 2.5rem);
	}

	// .left-bim__btn

	&__btn {
		grid-column: 1/2;
		grid-row: 4/5;
		background-color: $orange;
		color: #ffffff;
		font-size: clamp(0.75rem, 0.5921rem + 0.7895vw, 1.5rem);
		padding: 19px 235px;
		border-radius: 50px;
		background: $orange;
		border: 2px solid $orange;
		font-weight: 500;
		transition: 0.3s;
		justify-self: start;

		@media (max-width: 1700px) {
			margin-top: clamp(1.25rem, 1.1184rem + 0.6579vw, 1.875rem);
		}

		@media (max-width: 1024px) {
			box-sizing: border-box;
			width: 100%;
			text-align: center;
			padding: clamp(0.625rem, 0.3693rem + 1.2784vw, 1.1875rem) 35px !important;
		}


		@media (hover: hover) {
			&:hover {
				background: #fff;
				color: $orange;
			}
		}
	}

	&__img {
		grid-column: 2/3;
		grid-row: 1/5;
		height: clamp(12.4375rem, 6.5296rem + 29.5395vw, 40.5rem);

		@media (max-width: 1024px) {
			grid-column: 1/2;
			grid-row: 3/4;
			justify-self: center;
			margin-top: 40px;
		}

		@media (max-width: 768px) {
			margin-top: 30px;
		}

		img {
			height: 100%;
			width: 100%;
		}
	}
}