.contacts-index {
	@extend %grid;
	@extend %paddingSection;
	position: relative;
	height: clamp(37rem, 19.0896rem + 37.3134vw, 62rem);
	box-sizing: border-box;
	z-index: 100;

	@media (max-width: 1560px) {
		overflow: hidden;
	}

	@media (max-width: 480px) {
		margin-top: 50px;
	}

	&__body {
		grid-column: 2/3;
		position: relative;
		z-index: 10;
	}

	&__texts {
		h2 {
			margin-bottom: 40px;
		}
	}

	&__text {
		@extend %text;
		max-width: clamp(17.5rem, 13.1842rem + 21.5789vw, 38rem);

		@media (max-width: 768px) {
			max-width: 500px;
		}

		@media (max-width: 640px) {
			max-width: clamp(17.5rem, 13.1842rem + 21.5789vw, 38rem);
		}
	}

	&__svg {
		position: absolute;
		top: clamp(3.125rem, 2.4671rem + 3.2895vw, 6.25rem);
		left: 0;
		width: 100%;
		height: calc(100% - clamp(3.125rem, 2.4671rem + 3.2895vw, 6.25rem));
		overflow: hidden;

		@media (min-width: 2000px) {
			grid-column: 2/3;
		}

		@media (max-width: 1560px) {
			overflow: visible;
			transform: translate(-360px, 80px);

		}

		@media (max-width: 800px) {
			// transform: translate(-360px, 80px);
			transform: translate(-523px, 70px);
		}

		@media (max-width: 480px) {
			// transform: translate(-360px, 80px);
			transform: translate(-650px, 40px) !important;
		}


		svg {
			// height: clamp(33.875rem, 13.7257rem + 41.9776vw, 62rem);
			// width: clamp(64rem, -11.9216rem + 118.6275vw, 124.5rem);
			height: 100%;


		}
	}
}

.bottom-svg-gear {
	position: absolute;
	top: 0;
	left: calc(100% - 80px);
	width: clamp(9.4375rem, 6.0318rem + 7.3636vw, 14.5rem);
	height: 100%;
	// transform: translate(-82%, -14%);
	transform: translate(clamp(-193px, calc(-73px + (-120 * (100vw - 1024px) / 816)), -73px),
			clamp(-135px, calc(-112px + (-23 * (100vw - 1024px) / 816)), -112px));
	max-width: 232px;
	z-index: 20;

	@media (min-width: 2000px) {
		grid-column: 2/3;
		left: calc(100% - 40px);
	}

	@media (max-width: 1560px) {
		// transform: translate(-170px, 40px);
		transform: translate(clamp(-170px, calc(-95px - (75 * (100vw - 740px) / 820)), -95px),
				clamp(-140px, calc(-140px + (180 * (100vw - 740px) / 820)), 40px));
	}

	@media (max-width: 700px) {
		display: none;
	}

	svg {
		width: clamp(9.4375rem, 6.0318rem + 7.3636vw, 14.5rem);
	}
}