.news-index {
	// .news-index__cards
	@extend %grid;
	@extend %paddingSection;

	&__body {
		grid-column: 2/3;
	}

	&__cards {
		width: 100%;
		display: grid;
		grid-template: auto / repeat(auto-fit, minmax(320px, 1fr));
		gap: 20px
	}

	// .news-index__card

	&__card {}

	// .news-index__btn

	&__btn {
		display: inline-block;
		padding: clamp(0.625rem, 0.4013rem + 1.1184vw, 1.6875rem) 40px;
		box-sizing: border-box;
		text-align: center;
		width: 100%;
		background-color: $orange;
		color: #FFFFFF;
		border-radius: 50px;
		font-family: 500;
		font-size: clamp(0.75rem, 0.4868rem + 1.3158vw, 2rem);
		margin-top: clamp(1.875rem, 1.4803rem + 1.9737vw, 3.75rem);
		transition: .3s;
		border: 2px solid $orange;

		@media (hover: hover) {
			&:hover {
				background: #fff;
				color: $orange;
			}
		}
	}
}


.card-news-index {
	@extend %text;


	// .card-news-index__date
	a {
		display: flex;
		flex-direction: column;

		img {
			margin-bottom: clamp(0.9375rem, 0.6086rem + 1.6447vw, 2.5rem);
			width: 100%;
			height: 100%;
		}
	}

	&__date {
		color: #414141;
		margin-bottom: clamp(0.3125rem, 0.2467rem + 0.3289vw, 0.625rem);
	}

	// .card-news-index__name

	&__name {}
}