.catalog-section-price {
	@extend %grid;
	@extend %paddingSection;

	&__body {
		grid-column: 2/3;

		h2 {
			margin-bottom: 40px;

			@media (max-width: 640px) {
				margin-bottom: 30px;
			}
		}
	}

	&__texts {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		@extend %text;
		column-gap: 50px;
		row-gap: clamp(1.25rem, 0.9868rem + 1.3158vw, 2.5rem);
		text-align: justify;

		@media (max-width: 1024px) {
			grid-template: auto / 1fr;

		}

		@media (max-width: 480px) {

			text-align: left;
		}
	}

	&__text {}
}