.catalog-section-links {
	@extend %grid;
	@extend %paddingSection;

	&__body {
		grid-column: 2/3;
		max-width: 1130px;
		margin: 0 auto;
	}

	&__text {}

	&__card {}
}

.swiper {}

.catalog-section-links-swiper {}

.swiper-wrapper {}

.catalog-section-links-wrapper {}

.swiper-slide {}

.catalog-section-links-slide {}

.card-slide-index {}

.card-slide-body {}

.card-index-text {}