.catalog-section-cards {
	// .catalog-section-cards__body
	@extend %grid;
	padding: clamp(3.125rem, 2.4671rem + 3.2895vw, 6.25rem) clamp(1.25rem, 0.9868rem + 1.3158vw, 2.5rem);


	&__body {
		grid-column: 2/3;
		display: grid;
		grid-template: auto/ repeat(auto-fit, minmax(605px, 1fr));
		column-gap: 20px;
		row-gap: 40px;



		@media (max-width: 1320px) {
			grid-template: auto/ repeat(auto-fit, minmax(463px, 1fr));
		}

		@media (max-width: 1024px) {

			row-gap: 30px;
		}

		@media (max-width: 480px) {
			grid-template: auto/ 1fr !important;
			row-gap: 80px;
		}
	}

	// .catalog-section-cards__card

	&__card {}
}

.card-catalog-section-cards {
	// .card-catalog-section-cards__body
	display: grid;
	grid-template: auto / 1fr;
	position: relative;
	overflow: hidden;

	@media (max-width: 480px) {
		overflow: visible;
	}

	&__body {}

	// .card-catalog-section-cards__img

	&__img {
		grid-row: 1/3;
		grid-column: 1/2;
		width: 100%;
		height: 100%;
		transition: .5s;



		@media (hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	// .card-catalog-section-cards__btn

	&__btn {
		position: absolute;
		top: 40px;
		left: 40px;
		max-width: 100%;
		height: clamp(2.0625rem, 1.7336rem + 1.6447vw, 3.625rem);
		color: $bgBlue;
		border: 2px solid $bgBlue;
		border-radius: 50px;
		padding: 16px 32px;
		transition: 0.3s;
		box-sizing: border-box;
		background-color: #ffffff;
		font-size: clamp(0.75rem, 0.5921rem + 0.7895vw, 1.5rem);
		line-height: 110%;
		display: flex;
		justify-content: center;
		align-items: center;


		@media (max-width: 1024px) {
			padding: 10px 32px;
			top: 30px;
			left: 30px;
		}

		@media (max-width: 540px) {

			top: 20px;
			left: 20px;
		}

		@media (max-width: 480px) {
			width: 100%;
			top: -50px !important;
			left: 0px !important;
		}

		@media (hover: hover) {
			&:hover {
				color: #ffffff;
				background: $bgBlue;
			}
		}
	}

	// .card-catalog-section-cards__price

	&__price {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: clamp(2.1875rem, 1.4638rem + 3.6184vw, 5.625rem);
		color: #ffffff;
		background-color: #0066B380;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: clamp(0.875rem, 0.6382rem + 1.1842vw, 2rem);
		text-align: center;
	}
}