.find-price {
	@extend %grid;
	@extend %paddingSection;

	box-sizing: border-box;

	&__body {
		grid-column: 2/3;
		box-shadow:
			0 15px 100px 0 rgba(0, 102, 179, 0.2),
			0 -15px 100px 0 rgba(0, 102, 179, 0.2);
		padding: clamp(0.9375rem, 0.6743rem + 1.3158vw, 2.1875rem) clamp(1.875rem, -7.9289rem + 15.3186vw, 9.6875rem) clamp(1.875rem, 1.2171rem + 3.2895vw, 5rem);

		@media (max-width: 480px) {
			padding: 15px 15px 30px;
		}
	}

	&__title {
		color: $orange;
		margin-bottom: 40px;

		@media (max-width: 1024px) {
			text-align: center;

		}
	}
}

.form-find-price {
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: clamp(1.25rem, -14.5rem + 17.5vw, 5.625rem);
		row-gap: clamp(1.875rem, 1.4803rem + 1.9737vw, 3.75rem);

		@media (max-width: 1120px) {
			column-gap: 40px;

		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		line-height: 110%;
		//gap: 60px;

		&--1 {
			grid-column: 1/2;
			grid-row: 1/2;
			display: flex;
			flex-direction: column;
			row-gap: 30px;

			@media (max-width: 1120px) {
				grid-column: 1/4;
				grid-row: 1/2;
			}

			@media (max-width: 800px) {
				grid-column: 1/-1 !important;
				grid-row: 1/2 !important;
			}
		}

		&--2 {
			grid-column: 2/3;
			grid-row: 1/2;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media (max-width: 1120px) {
				grid-column: 4/6;
				grid-row: 1/2;
			}

			@media (max-width: 800px) {
				grid-column: 1/-1 !important;
				grid-row: 3/4 !important;
			}
		}

		&--3 {
			grid-column: 3/4;
			grid-row: 1/3;

			@media (max-width: 1120px) {
				grid-column: 1/6;
				grid-row: 3/4;
			}

			@media (max-width: 800px) {
				grid-column: 1/-1 !important;
				grid-row: 5/6 !important;
			}
		}

		&--4 {
			grid-column: 1/2;
			grid-row: 2/3;

			@media (max-width: 1120px) {
				grid-column: 1/4;
			}

			@media (max-width: 800px) {
				grid-column: 1/-1 !important;
				grid-row: 2/3 !important;
			}
		}

		&--5 {
			grid-column: 2/3;
			grid-row: 2/3;

			@media (max-width: 1120px) {
				grid-column: 4/6;
			}

			@media (max-width: 800px) {
				grid-column: 1/-1 !important;
				grid-row: 4/5 !important;
			}
		}




	}

	&__field {
		display: flex;
		flex-direction: column;
	}

	&__label {
		font-size: clamp(0.875rem, 0.7961rem + 0.3947vw, 1.25rem);
		margin-bottom: 10px;
		color: #222222;

		@media (max-width: 1024px) {
			margin-bottom: 5px;

		}

	}

	&__input,
	&__textarea {
		border: 1px solid $bgBlue;
		border-radius: 50px;
		padding: 16px 32px;
		font-size: clamp(1rem, 0.8947rem + 0.5263vw, 1.5rem);
		outline: none;

		@media (max-width: 480px) {
			padding: 15px 20px;
		}

		&:focus {
			box-shadow:
				0 2px 50px 0 rgba(0, 102, 179, 0.1),
				0 -2px 50px 0 rgba(0, 102, 179, 0.1);
		}
	}

	&__textarea {
		resize: none;
		min-height: clamp(5.375rem, 4.3487rem + 5.1316vw, 10.25rem);
		padding: 20px 32px;
	}

	&__radio-group {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@media (max-width: 480px) {
			gap: 10px;
		}

		label {
			font-size: clamp(1rem, 0.8947rem + 0.5263vw, 1.5rem);
			cursor: pointer;
			display: flex;
			align-items: center;
			column-gap: 10px;
		}
	}

	&__range-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__value {}

	&__range {}

	&__submit {
		margin: 30px 0px;
		background: #1b74d6;
		color: #fff;
		border: none;
		border-radius: 24px;
		padding: clamp(0.625rem, 0.5724rem + 0.2632vw, 0.875rem);
		font-size: clamp(0.75rem, 0.6974rem + 0.2632vw, 1rem);
		cursor: pointer;

		@media (max-width: 480px) {
			margin: 20px 0px;
		}

		&:hover {
			background: #155db0;
		}
	}

	&__policy {
		font-size: clamp(0.75rem, 0.6447rem + 0.5263vw, 1.25rem);
		color: #222222;
		line-height: 110%;
		flex: 1 1 auto;

		a {
			color: $orange;

		}
	}
}

.form-find-price__input::placeholder {
	color: #222222;

	/* любой цвет */
	opacity: 1;
	/* важно для Firefox */
}

.form-find-price__textarea::placeholder {
	color: $bgBlue;

	/* любой цвет */
	opacity: 1;
	/* важно для Firefox */
}

.form-find-price__textarea {
	border-radius: 20px;
}

.form-find-price__label-big {
	font-size: clamp(1.25rem, 1.1974rem + 0.2632vw, 1.5rem);
}

.form-find-price__range {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;

	height: 9px;
	background: transparent;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 4.5px;
}

.form-find-price__range {
	background: linear-gradient(to right,
			$bgBlue 0%,
			$bgBlue var(--range-progress),
			#fff var(--range-progress),
			#fff 100%);
}

.form-find-price__range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 19px;
	height: 19px;
	background: $bgBlue;
	/* цвет ползунка */
	border-radius: 50%;
	transform: scale(1.3);
	/* выравнивание по центру */
}


.form-find-price__radio-group input[type="radio"] {
	accent-color: $bgBlue;
	width: clamp(1.125rem, 1.0461rem + 0.3947vw, 1.5rem);
	height: clamp(1.125rem, 1.0461rem + 0.3947vw, 1.5rem);
	cursor: pointer;

}

.form-find-price__label-mt {
	margin-bottom: 30px;

	@media (max-width: 1024px) {
		margin-bottom: 30px;
	}
}

.form-find-price__field-center {}

.form-find-price__range-head-mb {
	margin-bottom: 65px;

	@media (max-width: 480px) {
		margin-bottom: 56px;
	}
}

.form-find-price__range-body {
	position: relative;

	@media (max-width: 480px) {
		padding-left: 5px;
	}
}

.form-find-price__value {
	position: absolute;
	top: -40px;
	transform: translateX(-50%);
	font-size: clamp(0.75rem, 0.6974rem + 0.2632vw, 1rem);
	color: $bgBlue;
	border: 1px solid $bgBlue;
	pointer-events: none;
	white-space: nowrap;
	padding: 5px;

	@media (max-width: 480px) {
		transform: translateX(-35%);
	}
}

.form-find-price__value-block {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

	@media (max-width: 480px) {
		padding-left: 5px;
	}
}

.form-find-price__value-start {}

.form-find-price__value-start,
.form-find-price__value-end {
	font-size: clamp(0.875rem, 0.7961rem + 0.3947vw, 1.25rem);
}

.form-find-price__field-center {
	margin-top: 42px;

	@media (max-width: 480px) {
		margin-top: 30px;
	}
}

.form-find-price__field-phone {
	@media (max-width: 1440px) {
		margin-top: 30px;
	}
}

.form-find-price__field-phone-title {
	margin: 0;
	font-weight: 600;
	margin-bottom: 20px;
	font-size: clamp(1.25rem, 1.0921rem + 0.7895vw, 2rem);

	@media (max-width: 480px) {
		margin-bottom: 15px;
	}
}

.form-find-price__field-phone-phone {
	color: $bgBlue;
	font-size: clamp(1rem, 0.8947rem + 0.5263vw, 1.5rem);
}

.form-find-price__field-phone-phone+.form-find-price__field-phone-phone {
	margin-top: 15px;

	@media (max-width: 480px) {
		margin-top: 10px;
	}
}