.about-type {
	@extend %grid;
	padding: 0px clamp(1.25rem, 0.9868rem + 1.3158vw, 2.5rem);
	margin-top: clamp(-153px, calc(-153px + 93px * (100vw - 1920px) / (320px - 1920px)), -60px);

	&__body {
		grid-column: 2/3;
		display: grid;
		grid-template: auto / repeat(auto-fit, minmax(265px, 1fr));
		column-gap: 20px;

		@media (max-width: 1480px) {
			row-gap: 30px;
		}

		@media (max-width: 890px) {
			grid-template: auto / repeat(2, 1fr);
		}

		@media (max-width: 480px) {
			grid-template: auto / 1fr !important;
			row-gap: 20px;
		}
	}

	&__card {}
}

.card-about-type {
	box-sizing: border-box;
	background-color: #ffffff;
	padding: clamp(0.625rem, 0.4934rem + 0.6579vw, 1.25rem);
	box-shadow: 0px 20px 80px 0px rgba(0, 102, 179, 0.2);
	height: clamp(7.1875rem, 4.9507rem + 11.1842vw, 17.8125rem);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;



	&__num {
		font-weight: 300;
		font-size: clamp(2rem, 1.5789rem + 2.1053vw, 4rem);
		line-height: 100%;
	}

	&__text {
		line-height: 110%;
		font-size: clamp(0.875rem, 0.6382rem + 1.1842vw, 2rem);
	}
}

.card-about-type-last {
	@media (max-width: 890px) {
		grid-column: 1/-1;
	}

}