.catalog-cards {
	@extend %grid;
	@extend %paddingSection;
	// .catalog-cards__body

	&__body {
		grid-column: 2/3;
		display: flex;
		flex-direction: column;
		row-gap: clamp(1.875rem, 1.6118rem + 1.3158vw, 3.125rem);
	}

	// .catalog-cards__card

	&__card {}
}

.card-catalog-cards {
	// .card-catalog-cards__right
	padding: clamp(1.25rem, 0.9868rem + 1.3158vw, 2.5rem);
	border-radius: 20px;
	box-shadow: 14px 18px 70px 0 rgba(0, 102, 179, 0.1),
		-14px -19px 70px 0 rgba(0, 102, 179, 0.1);
	display: grid;
	grid-template: auto/ repeat(12, 1fr);

	@media (max-width: 1224px) {
		grid-template: auto/ 1fr;
	}

	&__right {
		img {
			grid-column: 8/13;
			grid-row: 1/3;
			max-width: 100%;

			@media (max-width: 1224px) {
				grid-column: 1/-1;
				grid-row: 1/2;
				max-width: none;
				width: 100%;
			}
		}

		.card-catalog-cards__texts {
			grid-column: 1/7;
			grid-row: 1/2;

			@media (max-width: 1224px) {
				grid-column: 1/-1;
				grid-row: 2/3;
				margin-top: clamp(1.25rem, 0.8075rem + 2.2124vw, 2.5rem);
			}
		}

		.card-catalog-cards__btn {
			grid-column: 1/7;
			grid-row: 2/3;

			@media (max-width: 1224px) {
				margin-top: 30px;
				grid-column: 1/-1;
				grid-row: 3/4;
			}
		}
	}

	// .card-catalog-cards__img

	&__img {
		height: clamp(25.875rem, 12.9594rem + 16.8831vw, 32.375rem);

		@media (max-width: 1224px) {
			height: clamp(10.6875rem, 3.0105rem + 38.385vw, 32.375rem);
		}
	}

	// .card-catalog-cards__texts

	&__texts {}

	// .card-catalog-cards__title

	&__title {
		font-size: clamp(1rem, 0.7895rem + 1.0526vw, 2rem);
		font-weight: 400;
		line-height: 110%;
		margin: 0px;
	}

	// .card-catalog-cards__text

	&__text {
		@extend %text;
		margin-top: clamp(0.625rem, -0.0387rem + 3.3186vw, 2.5rem);

		@media (max-width: 1224px) {
			text-align: justify;
		}

		@media (max-width: 380px) {
			text-align: left;
		}
	}

	// .card-catalog-cards__btn

	&__btn {
		color: #ffffff;
		border: 2px solid $bgBlue;
		border-radius: 50px;
		padding: clamp(0.625rem, 0.4013rem + 1.1184vw, 1.6875rem) 40px;
		transition: 0.3s;
		background: $bgBlue;
		justify-self: start;
		align-self: end;
		width: 445px;
		text-align: center;
		font-weight: 500;
		@extend %text;

		@media (hover: hover) {
			&:hover {
				color: $bgBlue;
				background: #ffffff;
			}
		}

		@media (max-width: 1224px) {
			width: 100%;
			box-sizing: border-box;
		}
	}

	// .card-catalog-cards__left

	&__left {
		img {
			grid-column: 1/6;
			grid-row: 1/3;
			max-width: 100%;

			@media (max-width: 1224px) {
				grid-column: 1/-1;
				grid-row: 1/2;
				justify-self: center;
				max-width: none;
				width: 100%;
			}
		}

		.card-catalog-cards__texts {
			grid-column: 7/13;
			grid-row: 1/2;

			@media (max-width: 1224px) {
				grid-column: 1/-1;
				grid-row: 2/3;
				margin-top: clamp(1.25rem, 0.8075rem + 2.2124vw, 2.5rem);
			}
		}

		.card-catalog-cards__btn {
			grid-column: 7/13;
			grid-row: 2/3;

			@media (max-width: 1224px) {
				grid-column: 1/-1;
				grid-row: 3/4;
				margin-top: 30px;

			}
		}
	}
}